<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
 
<head> 
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
	<title>Przypominanie hasła | Domomatik Panel Zarządzania</title> 
    <base href="http://localhost/domomatik/"/>	
	<link rel="stylesheet" href="./public/css/reset.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="./public/css/text.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="./public/css/buttons.css" type="text/css" media="screen" title="no title" />
	<link rel="stylesheet" href="./public/css/login.css" type="text/css" media="screen" title="no title" />
    <link rel="stylesheet" href="./public/css/x.msgBar.css" type="text/css" media="screen" title="no title" />

</head> 

<body> 


<div id="login">
	<h1>Panel Zarządzania</h1>
	<div id="login_panel">
		<div class="login_fields">
            <div class="msgBar success"><div class="icon"></div>Przywrócono standardowe hasło dla użytkownika.</div>

		</div> <!-- .login_fields -->
		
		<div class="login_actions">
            <a class="btn small secondary" href="./logowanie">Powrót do logowania</a>
		</div>
	</div> <!-- #login_panel -->		
</div> <!-- #login -->

<script src="./public/js/jquery/jquery-1.5.2.min.js"></script>
<script src="./public/js/jquery/jquery.placeholder.min.js"></script>
<script type="text/javascript">
  if ($.fn.placeholder) { $('input, textarea').placeholder (); }  
</script>

</body> 
 
</html>
